---

---
<!DOCTYPE html>
<html lang="en">
  {%include head.html page_name="Contact - "%}
  <body id="page-top">
    {% include navbar.html home-ref = "/index.html"%}
    <section id="about" class="content-section text-center">
      <h5 class="content-header">Contact The Museum</h5>
          <div class="col">
            <p>Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by
              <a href="http://gratisography.com/">Gratisography</a>
              along with a custom Google Maps skin courtesy of
              <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Landing Craft Support (Large) ships were developed to support amphibious landings and to intercept inter-island barge traffic.  Used solely in the Pacific
Theater of operations, they were a further development of gunboats that had been converted from Landing Craft Infantry ships - LCIs.

The need for a close-fire support vessel was demonstrated during the assault on Tarawa on <em>20 November 1944.</em> After the larger ships had shelled the
beaches and landing zones to disrupt enemy defense efforts, the landing craft headed for shore to deliver the troops. During the time that the naval
bombardment had stopped and the troops had landed, the enemy had time to regroup, and the effect on the Marines was deadly.  In order to deliver fire
support to protect them, a new type of vessel was necessary.  It needed the ability to get in close to shore and had to have sufficient armament to support
the landings. Previous experiments had resulted in placing additional guns, rockets, and mortars on various LCI(L)s and turning them into gunboats.
These LCI(G), LCI(R), and LCI(M) variations had proven their worth, but were still limited because of their original configuration. They were considered
to be an interim solution the problems encountered in the Pacific Theater. Fortunately, a more advanced gunboat had been in the planning stages as
early as 1942, and the first contracts for the new fire support vessel had been awarded in 1943. The first of these gunboats, the LCS(L) 1, was launched on
15 May 1944 at the George Lawley and Sons Shipyard in Neponset, Massachusetts.</p>
          </div>
    </section>
    {%include footer.html%}
    {%include scripts.html%}
  </body>
</html>
