---

---
<!DOCTYPE html>
<html lang="en">

  {%include head.html page_name = "Gallery - "%}
  <body id="page-top">
    {% include navbar.html home-ref = "/index.html"%}
      <section id="visit_information" class="content-section">
        <h5 class="content-header">Photos Of Our Ship</h5>
        <div class="caution">
          <img src='/img/cautiontile.jpg'/>
        </div>
          <h2 class="text-center" style="font-size: 20px;">NOTE: A Proper Gallery is Under Construction.<br>In the meantime, our photo archives can still be accessed with the links below:</h2>
          <div class="caution">
            <img src='/img/cautiontile.jpg'/>
          </div>
        <div class="container">

          <div class="row">
            <div class="col-xs-12 mx-auto text-center">

          <a class="hyperlink" style="font-size: 30px" href="https://photos.app.goo.gl/MF3DT3VjyCnACXNz2">
            Photos from the Old Website</a>
            <br>
          <a class="hyperlink" style="font-size: 30px" href="https://photos.app.goo.gl/MF3DT3VjyCnACXNz2">
            Virtual Tour</a>

        </div>
      </div>
      </div>
    </section>

    {%include footer.html%}
    {%include scripts.html%}

  </body>
</html>
