---

---
<!DOCTYPE html>
<html lang="en">
  {%include head.html page_name = ""%}
  <body id="page-top">
    {%include navbar.html home-ref = "#page-top"%}
    <header class="masthead">
      <div class="intro-body">
        <div class="video_background">
        <video autoplay loop muted class="masthead__video" poster="/img/video-placeholder.jpg">
          <source src = "/img/LCS.mp4" type = "video/mp4">
          </video>
        </div>
        <div class="container masthead-text">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <h6 class="brand-heading">USS LCS-102</h6>
              <h6 class="ship-name">"Yankee Dollar"</h6>
              <p class="intro-text">LANDING CRAFT SUPPORT MUSEUM</p>
              <a href="#info" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="banner"></div>

    <section id="info" class="content-section" style="padding-top:50px">
      <div class="container">
            <h1 style="text-align: center;">====The Last Mighty Midget====</h1>
            <p style="text-align: center;">During World War II, 130 were built. Now only one remains.</p>
            <div class="row debug">
              <div class="col-md-6 debug">
                <h2>-Our Mission-</h2>
                <p>The purpose of the Landing Craft Museum has six primary objectives. To manage the
operation and maintenance of the former USS LCS(L)(3)-102 as a mobile
museum. To Preserve and perpetuate the memory of those officers and men who served so
valiantly aboard one of the LCS (L) ships of the United States Navy, especially those officers and men who gave their lives in the service of
their country. To acquire, preserve, and present the records, relics, and mementos of the
Landing Craft Support Vessels. To inform the public of the World War II accomplishments
of the Landing Craft Support ships during operations at Iwo Jima, Okinawa, Philippines,
Borneo, China, and the occupation of Japan.
                </p>
              </div>
              <div class="col-md-6 debug">
                <h2>-Latest Transmissions-</h2>
                <p>9-18-19<br>New Website Created<br>asjdkfjalsdjflkskafjkslfajlksdjfM<br></p>
                <p>9-17-19<br>New Website Created<br>asjdkfjalsdjflkskafjkslfajlksdjfM<br></p>
                <p>9-16-19<br>New Website Created<br>asjdkfjalsdjflkskafjkslfajlksdjfM<br></p>
              </div>
            </div>
            <div class="row debug">
              <div class="col-xs-12">
                <h2>-About the Yankee Dollar-</h2>
              </div>
            </div>
        </div>
    </section>

    <section id="details" class="content-section text-center">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </section>

    {%include footer.html%}
    {%include scripts.html%}

  </body>
</html>
