---

---
<!DOCTYPE html>
<html lang="en">
  {%include head.html page_name = ""%}
  <body id="page-top">
    {%include navbar.html home-ref = "#page-top"%}
    <header class="masthead">
      <div class="intro-body">
        <div class="video_background">
        <video autoplay loop muted class="masthead__video" poster="/img/video-placeholder.jpg">
          <source src = "/img/LCS.mp4" type = "video/mp4">
          </video>
        </div>
        <div class="container masthead-text">
          <div class="row">
            <div class="col-lg-12 mx-auto">
              <h6 class="brand-heading">USS LCS-102</h6>
              <h6 class="ship-name">"Yankee Dollar"</h6>
              <p class="intro-text">LANDING CRAFT SUPPORT MUSEUM</p>
              <a href="#info" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="banner"></div>

    <section id="info" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>The Last Mighty Midget</h2>
            <p>Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
            <p>This theme features stock photos by
              <a href="http://gratisography.com/">Gratisography</a>
              along with a custom Google Maps skin courtesy of
              <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
            <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization!</p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6" style="background-color:yellow;">
          </div>
          <div class="col-md-6" style="background-color:pink;">

          </div>
        </div>
      </div>
    </section>

    {%include footer.html%}
    {%include scripts.html%}

  </body>
</html>
