---

---
<!DOCTYPE html>
<html lang="en">

  {%include head.html page_name = "Visit - "%}
  <body id="page-top">
    {% include navbar.html home-ref = "/index.html"%}
      <section id="visit_information" class="content-section">
        <h5 class="content-header">Visit the Museum</h5>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>The ship is open to the public on Tuesdays, Thursdays and Saturdays from 9 AM to 3 PM.</p>
            <p>There is no entrance fee - Admission is Free.</p>
            <p>We are located at Mare Island Naval Shipyard
          </div>
          <div class="col-md-6 text-center">
            <div class="map-backing">
                <iframe class = "map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50233.137678234736!2d-122.29991628553181!3d38.10364591842527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808574a3763ba953%3A0xd1d04a9d3d8e3e1e!2sUSS+LCS(L)(3)-102!5e0!3m2!1sen!2sus!4v1505603234029" width="400" height="400" frameborder="0" style="border:0 text-align:center" allowfullscreen></iframe>
            </div>
            <p>Issues with the map above? <a href="https://goo.gl/maps/CThkMrBN42p">Click here.</a></p>
          </div>
        </div>
      </div>
    </section>

    {%include footer.html%}
    {%include scripts.html%}

  </body>
</html>
