---

---
<!DOCTYPE html>
<html lang="en">

  {%include head.html page_name = "Volunteer - "%}
  <body id="page-top">
    {% include navbar.html home-ref = "/index.html"%}
      <section id="volunteer_information" class="content-section">
        <h5 class="content-header">Volunteer With Us</h5>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 style="text-align:center;">Want to Help?</h1>
            <p>Volunteers are always needed and greatly appreciated.<br>
            In fact, all the work that has been done on the ship since it arrived has been done by volunteers.<br>
            Interested?<br>
            Drop by the ship during opening hours, or contact Executive Offiver Gordon Stutrud.</p>
          </div>
          <div class="col-md-6">
            <h1>Our Volunteers</h1>
            <div class="volunteer-bio debug">
              <img class="volunteer-pic" src="/img/profiles/temp-pfp.jpg"/>
              <h1>Bill Mason<h1>
            </div>
              <img src='https://drive.google.com/uc?id=0B68qm8TdHNbSX2J5ckFDbV9wTzg'/>
            </div>
        </div>
      </div>
    </section>

    {%include footer.html%}
    {%include scripts.html%}

  </body>

</html>
