---

---
<!DOCTYPE html>
<html lang="en">

  {%include head.html page_name = "Volunteer - "%}
  <body id="page-top">
    {% include navbar.html home-ref = "/index.html"%}
      <section id="volunteer_information" class="content-section">
        <h5 class="content-header">Volunteer With Us</h5>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 style="text-align:center;">Want to Help?</h1>
            <p>Volunteers are always needed and greatly appreciated.<br>
            In fact, all the work that has been done on the ship since it arrived has been done by volunteers.<br>
            Interested?<br>
            Drop by the ship during opening hours, or contact Executive Offiver Gordon Stutrud.</p>

          </div>
          <div class="col-md-6">
            <h1>Our Volunteers</h1>
            <p>Landing Craft Support (Large) ships were developed to support amphibious landings and to intercept inter-island barge traffic.  Used solely in the Pacific
Theater of operations, they were a further development of gunboats that had been converted from Landing Craft Infantry ships - LCIs.

The need for a close-fire support vessel was demonstrated during the assault on Tarawa on 20 November 1944. After the larger ships had shelled the
beaches and landing zones to disrupt enemy defense efforts, the landing craft headed for shore to deliver the troops. During the time that the naval
bombardment had stopped and the troops had landed, the enemy had time to regroup, and the effect on the Marines was deadly.  In order to deliver fire
support to protect them, a new type of vessel was necessary.  It needed the ability to get in close to shore and had to have sufficient armament to support
the landings. Previous experiments had resulted in placing additional guns, rockets, and mortars on various LCI(L)s and turning them into gunboats.
These LCI(G), LCI(R), and LCI(M) variations had proven their worth, but were still limited because of their original configuration. They were considered
to be an interim solution the problems encountered in the Pacific Theater. Fortunately, a more advanced gunboat had been in the planning stages as
early as 1942, and the first contracts for the new fire support vessel had been awarded in 1943. The first of these gunboats, the LCS(L) 1, was launched on
15 May 1944 at the George Lawley and Sons Shipyard in Neponset, Massachusetts.</p>
          </div>
        </div>
      </div>
    </section>

    {%include footer.html%}
    {%include scripts.html%}

  </body>

</html>
