<footer>
  <div class="footerBackground">
  <div class="container-fluid">
    <div class= "row">
      <div class="col-xs-1 col-md-2">
        <h5 class= "footerLogo"> 102 </h5>
      </div>
      <div class="col-xs-1 col-md-3">
          <div class="footerContent">
            <strong>Landing Craft Support Museum</strong><br>
            Mare Island Shipyard<br>
            *insert # here*<br>
            Vallejo, CA *zip*<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </div>
      </div>
      <div class="col-xs-1 col-md-3 text-center">
          <div class="footerContent">
            <strong>Opening Hours:</strong><br>
            Tuesday: 9 AM to 3 PM<br>
            Thursday: 9 AM to 3 PM<br>
            Saturday: 9 AM to 3 PM<br>
            <strong>Admission is Free</strong>
          </div>
      </div>
      <div class="col-xs-4 col-md-4">
          <div class="footerContent">
            <strong>Find us on Social Media!</strong><br>
            Facebook<br>
            G+<br>
            askfskjfdlkljldks<br>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p class="text-center">Copyright &copy; Landing Craft Support Museum Corporation 2017
        <br>Website Developed by Minh-Quan Nguyen </p>
      </div>
    </div>
  </div>
</div>
</footer>
