<footer>
  <div class="footerBackground">
  <div class="container-fluid">
    <div class= "row">
      <div class="col-xs-1 col-md-2">
        <h5 class= "footerLogo"> 102 </h5>
      </div>
      <div class="col-xs-1 col-md-3">
          <div class="footerContent">
            <strong>Landing Craft Support Museum</strong><br>
            Mare Island Shipyard<br>
            *insert # here*<br>
            Vallejo, CA *zip*<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </div>
      </div>
      <div class="col-xs-1 col-md-3 text-center">
          <div class="footerContent">
            <strong>Opening Hours:</strong><br>
            Tuesday: 9 AM to 3 PM<br>
            Thursday: 9 AM to 3 PM<br>
            Saturday: 9 AM to 3 PM<br>
            <strong>Admission is Free</strong>
          </div>
      </div>
      <div class="col-xs-4 col-md-4">
          <div class="footerContent">
            <strong>Find us on Social Media!</strong>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/theyankeedollar" class="btn btn-default btn-sm">
                  <i class="fa fa-facebook fa-fw"></i>
                  <span class="network-name">Facebook</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-sm">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p class="text-center top-margin"> &copy;Landing Craft Support Museum 2017
        <br>Website Developed by Minh-Quan Nguyen </p>
      </div>
    </div>
  </div>
</div>
</footer>
