<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Minh-Quan Nguyen">

  <title>{{include.page_name}}Landing Craft Support Museum</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/grayscale.css" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

  <link href='https://fonts.googleapis.com/css?family=Quantico:700' rel='stylesheet' type='text/css'/>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet" type = 'text/css'>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type = 'text/css'>
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type = 'text/css'>
  <link href="https://fonts.googleapis.com/css?family=Arvo:700i" rel="stylesheet" type ='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Teko:700" rel="stylesheet" type ='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:700" rel="stylesheet" type = 'text/css'>
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet" type = 'text/css'>



</head>
